i, em {
  font-style: inherit;
}

.react-share {
  font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
  user-select: none;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  .row {
    > .col {
      text-align: center;
      i {

      }
      em {
        display: block;
        margin-top: 5px;
        color: #333;
        font-size: 14px;
      }
    }
  }
}
