.hello-react-share {
  color: #F00;
  padding: 100px 20px;
  position: relative;
  button {
    background: #3cc51f;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #FFF;
    padding: 20px;
    border: none;

    &:active {
      background: darken(#3cc51f, 10%);
    }

    &:focus {
      outline: none;
    }
  }
}

.wp-icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  &-code {
    width: 55px;
    height: 55px;
    background-image: url("assets/images/wp-share-1.png");
    &:active {
      background-image: url("assets/images/wp-share-2.png");
    }
    margin-bottom: -3px;
  }
  &-link {
    width: 55px;
    height: 55px;
    background-image: url("assets/images/wp-share-3.png");
    &:active {
      background-image: url("assets/images/wp-share-4.png");
    }
    margin-bottom: -3px;
  }
}
